@import url(https://fonts.googleapis.com/css?family=Charm);
body {
  background-color: #232323;
  background: url("../images/train2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: "Charm", cursive;
  color: aliceblue;
}
#add {
  background: rgba(56, 255, 255, 0.4);
}
td {
  color: black;
}
