body{
    background-image: url("../images/train-station-barcelona-spain-april-panoramic-waiting-departure-estacio-de-franca-people-background-51075522.jpg");
    background-size: cover;
    background-color: white;
}

